<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>Tambah Nama Kota Di Indonesia</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="POST" action="admin-kecamatan_buat.php">
        <h2 class="form-signin-heading">Tambah Nama Kota</h2>
        
        <select class="form-control" name="kota_id">
        {section name=kecamatan loop=$datakecamatan}
          <option>{$datakecamatan[kecamatan].id}</option>
        {/section}
        </select>

        <input type="text" name="nama" class="form-control" placeholder="Nama Kota" autofocus value><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Tambah</button>
      </form>
    </div> <!-- /container -->

  </body>
</html>