<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="../../assets/ico/favicon.png">

<title>Edit Data</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/signin.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../../assets/js/html5shiv.js"></script>
<script src="../../assets/js/respond.min.js"></script>
<![endif]-->
</head>

<body>
  <div class="container">
    {section name=user loop=$datauser}
      <div class="panel panel-info" style="width:800px; margin:0 auto;">
        <div class="panel-heading">
          <h3 class="panel-title">Data {$datauser[user].nama}</h3>
        </div>
        <div class="panel-body">
          <input type="hidden" name="uid" value="{$datauser[user].id}">
          <label for="text">Nama</label>
          <input type="text" id="disabledInput" name="nama" class="form-control" placeholder="{$datauser[user].nama}" disabled><br>
          <label for="text">Username</label>
          <input type="text" id="disabledInput" name="username" class="form-control" placeholder="{$datauser[user].username}" disabled><br>
          <label for="text">Password</label>
          <input type="password" id="disabledInput" name="password" class="form-control" placeholder="{$datauser[user].password}" disabled><br>
          <label for="text">Email</label>
          <input type="text" id="disabledInput" name="email" class="form-control" placeholder="{$datauser[user].email}" disabled><br>
          <label for="text">Alamat</label>
          <input type="text" id="disabledInput" name="alamat" class="form-control" placeholder="{$datauser[user].alamat}" disabled><br>
          <label for="text">Aktif</label>
          <input type="text" id="disabledInput" name="aktif" class="form-control" placeholder="{$datauser[user].aktif}" disabled><br>
          <label for="text">Remote IP</label>
          <input type="text" id="disabledInput" name="remote_ip" class="form-control" placeholder="{$datauser[user].remote_ip}" disabled><br>
          <label for="text">Kode Konfirmasi</label>
          <input type="text" id="disabledInput" name="kode_konfirmasi" class="form-control" placeholder="{$datauser[user].kode_konfirmasi}" disabled><br>
          <a href="admin-user_daftar.php">kembali</a>
        </div>
      </div>
    {/section}
  </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</body>
</html>