<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Detail</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Username</th>
            <th>password</th>
            <th>Email</th>
            <th>Alamat</th>
            <th>Remote IP</th>
            <th>Kode Konfirmasi</th>
          </tr>
        </thead>
        <tbody>
          {section name=user loop=$datauser}
          <tr>
            <td>{$smarty.section.user.iteration}</td>
            <td>{$datauser[user].nama}</td>
            <td>{$datauser[user].username}</td>
            <td>{$datauser[user].password}</td>
            <td>{$datauser[user].email}</td>
            <td>{$datauser[user].alamat}</td>
            <td>{$datauser[user].remote_ip}</td>
            <td>{$datauser[user].kode_konfirmasi}</td>
          </tr>
          {/section}
        </tbody>
      </table>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>