<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Daftar</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  	<style>
		body {
		  background: url("images/1.jpg") no-repeat center center fixed;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		 }
		 .well {
		    background-color: rgba(245, 245, 245, 0.4);
		 }
	</style>
  </head>
<body>
    <div style="width: 500px; margin: 0 auto;">
        <div class="well">
            <form class="form-horizontal" method="post" action="daftar.php">
                <legend align="center">Daftar</legend>
                <div>
                    <input type="text" name="nama" class="form-control" placeholder="Nama" autofocus><br>
                    <input type="text" name="username" class="form-control" placeholder="Username"><br>
                    <input type="email" name="email" class="form-control" placeholder="Email"><br>
                    <input type="password" name="password" class="form-control" placeholder="Password"><br>
                    <textarea id="textArea" name="alamat" class="form-control" rows="3" placeholder="Alamat"></textarea><br>
                </div>
                <button class="btn btn-lg btn-primary" type="submit">Daftar</button>
                <a href="login.php" class="btn btn-lg btn-success">Masuk</a>
            </form>
        </div>    
    </div>
</body>
</html>