<html> <title></title>
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/stylesheet.css" rel="stylesheet">
    <style>
        body { 
          background: url(../images/1.jpg) no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
    </style>
    <body  style="">
    <div class="login-container">
        <div class="login-header bordered">
            <h4>Masuk</h4>
        </div>
        <hr>
        <form>
            <div class="login-field">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Username">
                <i class="icon-user"></i>
            </div>
            <div class="login-field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">
                <i class="icon-lock"></i>
            </div>
            <div class="login-button clearfix">
                <button type="submit" class="pull-right btn btn-large blue">Masuk</button>
            </div>
            <div class="forgot-password">
                <a href="#" role="button" data-toggle="modal">Lupa password?</a>
            </div>
        </form>
    </div>
</body>
</html>